<!doctype html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Your First Custom Vue Component</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full grid place-items-center">
<div id="app">

    <section v-show="inProgressAssignments.length">
        <h2 class="font-bold mb-2">In Progress</h2>
        <ul>
            <li v-for="assignment in inProgressAssignments" class="ml-2"
                :key="assignment.id">
                {{ assignment.name }}
                <input v-model="assignment.complete" type="checkbox">
            </li>
        </ul>
    </section>

    <section v-show="completedAssignments.length" class="mt-8" >
        <h2 class="font-bold mb-2">Completed</h2>
        <ul>
            <li v-for="assignment in completedAssignments"
                class="ml-2"
                :key="assignment.id">
                {{ assignment.name }}
                <input v-model="assignment.complete" type="checkbox">
            </li>
        </ul>
    </section>
</div>
<script>
    let app = {
        data() {
            return {
                assignments: [
                    {id: 1, name: "Finish Project", complete: false},
                    {id: 2, name: "Add Login Added", complete: false},
                    {id: 3, name: "Read Documentations", complete: false},
                ]
            }
        },
        computed : {
            completedAssignments() {
                console.log("completedAssignments");
                return this.assignments.filter((assignment) => assignment.complete);
            },
            inProgressAssignments() {
                console.log("inProgressAssignments");
                return this.assignments.filter((assignment) => ! assignment.complete);
            }
        }
    }
    Vue.createApp(app).mount("#app");
</script>
</body>
</html>